КЯР/lab12/book.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="books">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="hat" type="xs:string"/>
            <xs:element name="item">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="block" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="author" type="xs:string"/>
                                        <xs:element name="book" type="xs:string" maxOccurs="unbounded"/>
                                        <xs:element name="price" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>
